/* Reset margin, padding, and box-sizing for all elements */
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styles for the body element */
body {
    font-family: sans-serif; /* Use sans-serif font for the entire page */
    background-color: #293f50; /* Set background color to a dark blue shade */
    color: #fff; /* Set text color to white */
}

/* Styles for the header */
header {
    width: 60%; /* Set header width to 60% of the viewport width */
    margin: 0 auto; /* Center header horizontally */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between header elements */
    align-items: center; /* Align items vertically in the center */
    padding: 2.5rem 0; /* Add padding to the top and bottom */
    position: relative; /* Position relative for positioning child elements */
}

/* Styles for the heading in the header */
header .heading {
    font-size: 3rem; /* Set font size for the heading */
    text-transform: uppercase; /* Transform text to uppercase */
    color: #fff; /* Set text color to white */
    text-decoration: none; /* Remove underline from links */
    line-height: 0.9; /* Adjust line height */
}

/* Styles for the div inside the header */
header div {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center children vertically */
    align-items: end; /* Align children to the end of the container */
}

/* Styles for the h3 element inside the header navigation */
header nav h3 {
    line-height: 1.4; /* Adjust line height */
    color: #648880; /* Set text color */
    padding-bottom: 1.7rem; /* Add padding to the bottom */
}

/* Styles for the navigation list inside the header */
header nav ul {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    list-style-type: none; /* Remove default list styling */
    position: absolute; /* Position absolutely relative to the header */
    bottom: 2.6rem; /* Position 2.6rem from the bottom */
    right: 0; /* Align to the right */
}

/* Styles for links in the navigation list */
header ul li a {
    text-decoration: none; /* Remove underline from links */
    padding-left: 1rem; /* Add padding to the left */
    line-height: 1.6; /* Adjust line height */
    letter-spacing: .5px; /* Add spacing between letters */
    color: #fff; /* Set text color to white */
    text-transform: uppercase; /* Transform text to uppercase */
    font-size: 0.9rem; /* Set font size */
}

/* Styles for hover effect on links */
a:hover {
    color: #648880; /* Change text color on hover */
}

/* Styles for the first section in the main content */
main .section-1 {
    background-color: #d0e4c2; /* Set background color to a light greenish shade */
    color: #648880; /* Set text color */
}

/* Styles for the container in the first section */
main .section-1 .set-width {
    width: 60%; /* Set container width to 60% of the viewport width */
    margin: 0 auto; /* Center container horizontally */
    text-align: center; /* Center text alignment */
    line-height: 1.8; /* Adjust line height */
    padding: 2.2rem; /* Add padding */
}

/* Styles for the h2 element in the first section */
.section-1 h2 {
    font-size: 2.2rem; /* Set font size */
    color: #648880; /* Set text color */
    font-weight: lighter; /* Set font weight to lighter */
}

/* Styles for paragraphs in the first section */
.section-1 p {
    font-size: 1.26rem; /* Set font size */
    font-weight: inherit; /* Inherit font weight from parent */
    line-height: 1.6; /* Adjust line height */
}

/* Styles for the second section in the main content */
main .section-2 {
    background-color: #fff; /* Set background color to white */
    color: #648880; /* Set text color */
}

/* Styles for the container in the second section */
.section-2 .set-width {
    width: 60%; /* Set container width to 60% of the viewport width */
    margin: 0 auto; /* Center container horizontally */
    padding: 4rem 0; /* Add padding to top and bottom */
    line-height: 1.8; /* Adjust line height */
}

/* Styles for sections within the second section container */
.section-2 .set-width section {
    display: grid; /* Use grid layout */
    grid-template-columns: 2fr 1fr; /* Define two columns with different widths */
    grid-gap: 2rem; /* Add gap between grid items */
}

/* Styles for paragraphs and h5 elements within the second section container */
.section-2 .set-width p,
h5 {
    padding-bottom: 1rem; /* Add bottom padding */
}

/* Styles for the h2 element within the second section container */
.section-2 .set-width h2 {
    font-weight: lighter; /* Set font weight to lighter */
}

/* Styles for the h5 element within the second section container */
.section-2 .set-width h5 {
    font-weight: lighter; /* Set font weight to lighter */
    font-size: 0.9rem; /* Set font size */
    text-transform: uppercase; /* Transform text to uppercase */
    color: #a9b2b9; /* Set text color */
}

/* Styles for user profile container within the second section container */
.section-2 .set-width .User-Profile {
    text-align: center; /* Center text alignment */
    padding: 1.38rem; /* Add padding */
    border: 1px solid #dbe3ea; /* Add border with color */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-top: 6rem; /* Add top margin */
    height: 190px; /* Set height */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: end; /* Align items to the end of the container */
    position: relative; /* Position relative for positioning child elements */
}

/* Styles for image inside the user profile container */
.section-2 .set-width .User-Profile img {
    width: 130px; /* Set image width */
    border: none; /* Remove border from image */
    border-radius: 50%; /* Make image circular */
    position: absolute; /* Position absolutely relative to the profile container */
    top: -40px; /* Position 40px above the container */
    right: 29%; /* Position 29% from the right */
}

/* Styles for lists and links inside the second section container */
.section-2 .set-width ul,
a {
    list-style-type: none; /* Remove default list styling for lists */
    text-decoration: none; /* Remove underline from links */
    color: #648880; /* Set text color */
}

/* Styles for a specific element with the ID 'armanghosh' */
.set-width #armanghosh {
    height: 160px; /* Set height */
}

/* Styles for the footer */
footer {
    width: 60%; /* Set footer width to 60% of the viewport width */
    margin: 0 auto; /* Center footer horizontally */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute space between footer elements */
    align-items: center; /* Align items vertically in the center */
    padding: 2.5rem 0; /* Add padding to top and bottom */
}

/* Styles for the copyright text in the footer */
footer p {
    color: #648880; /* Set text color */
    font-size: 0.9rem; /* Set font size */
}

/* Styles for the footer navigation list */
footer ul {
    display: flex; /* Use flexbox layout */
    list-style-type: none; /* Remove default list styling */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    font-size: 0.9rem; /* Set font size */
}

/* Styles for links in the footer navigation list */
footer ul a {
    text-decoration: none; /* Remove underline from links */
    color: #cbd4da; /* Set text color */
    padding-left: 1rem; /* Add padding to the left */
    font-weight: lighter; /* Set font weight to lighter */
}
